# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
seaborn
math
numpy
matplotlib.pyplot
string
nltk
re
scikit-learn
pysentimiento
joblib
streamlit
heroku
memoized-property
mlflow
s3fs
gcsfs
google-cloud-storage
termcolor
uvicorn 
fastapi


# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor
