# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas==1.0.3
scikit-learn==0.22.2.post1
pysentimiento
joblib
streamlit==0.56.0
heroku
s3fs
gcsfs
uvicorn
fastapi


# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
s3fs

# utilities
six>=1.14
joblib
memoized-property
